body {
  background-color: #fef7ff;
}

.App {
  text-align: center;
  max-width: 100%;
  overflow-x: hidden;
}

.LoginSignUp-header {
  font-family: sans-serif; /* Roboto Font */
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  color: #1D1B20;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 200px;
  margin-bottom: 50px;
}

input {
  background: #E6E0E9;
  width: 338px;
  height: 40px;
  left: 37px;
  top: 319px;
  border-radius: 4px 4px 0px 0px;
  padding: 10px;
  border: none;
  margin-bottom: 39px; /* puts spacing between the inputs */
  outline: none; /* gets rid out blue outline when typing input */
}

.login-form button {
  border-radius: 100px;
  background-color: #65558F;
  border: none;
  padding: 10px;
  font-size: 15px;
  color: white;

  width: 118px;
  height: 40px;
  left: 147px;
  top: 507px;

  margin-bottom: 100px;
}

.login-form button:hover {
  background-color: #8f79c7;
  cursor: pointer;
}

